@{
    ViewBag.Title = "Frequently Asked Questions";
}
<link rel="stylesheet" href="~/Content/FAQ.css" />

<main class="pt-3 ">
    <div class="container-fluid">
        <h6><b> How do I enroll myself under HSBC Credit Card Rewards Program?</b></h6>
        <p>The HSBC Rewards Programme is open to all HSBC primary credit cardholders (Classic, Gold, Smart ValueCard, Platinum and Premier Credit Card), excluding Corporate Credit Cards holders and HSBC Cashback Credit Cards.</p>

        <h6><b>Who is eligible to be a part of HSBC Credit Card Rewards Program ?</b></h6>
        <p>All Credit card account holders (as mentioned above) are eligible for the programme as long as their linked card accounts are active / valid.</p>

        <h6><b>How do I earn Reward points on my Credit card ? How are the points calculated ?</b></h6>
        <p>
            You earn reward points for all eligible purchases made on HSBC Credit Cards. Simply use your card for all your purchases and add up your points quickly.
        </p>
        <ul>
            <li>HSBC Classic Credit Cardholders will earn 1 Reward point for every purchase of Rs250.</li>
            <li>HSBC Gold Credit Cardholders will earn 1 Reward point for every purchase of Rs100.</li>
            <li>HSBC Smart Value Credit Cardholders will earn 1 Reward point for every purchase of Rs100.</li>
            <li>HSBC Platinum Credit Cardholders will earn 2 Reward points for every purchase of Rs 150.</li>
            <li>HSBC Premier Credit Cardholders will earn 2 Reward points for every purchase of Rs100.</li>
        </ul>
        <p>Reward points will not be offered on fuel purchases where the surcharge is waived. Purchases where the surcharge is not waived will earn Reward points. Fuel surcharge waiver is applicable on fuel purchases between INR 400 and INR 4000 at any petrol pump in India or according to any such criteria as decided by HSBC from time to time.</p>
        <h6><b>How do I check my Reward points balance ?</b></h6>
        <p>
            Login into the HSBC Internet banking to view available points for redemption, if you are not yet enrolled for internet banking services, you can alternatively check your Monthly Credit card statement sent to your registered address / email, which shows the number of points you have accumulated and the points you have redeemed.
        </p>

        <h6><b>Do these Reward points have an expiry date ?</b></h6>
        <p>
            Reward points expiry will follow a Rolling Expiry system with a Reward point validity period of 2 years for Gold, Smart Value & Classic Credit Cards and 3 years for Platinum & Premier Credit Cards.If the Reward points validity on your card is 2 years, the Reward points earned during the 1st year of card membership if not redeemed will expire at the end of the 2nd year of card membership and Reward points earned during the 2nd year of card membership, if not redeemed will expire at the end of the 3rd year and so on.The 1st year of card membership begins from the date of Credit Card issuance.For instance, for a card issued on 10 Mar 2016, the Reward points earned from 10 Mar 2016 to 10 Mar 2017, if unredeemed, will expire on 31 Mar 2018.
        </p>

        <h6><b>How do I redeem my Reward points ?</b></h6>
        <p>
            Redemption of Reward points is not automatic. You can redeem from our online rewards catalogue.Please note, you need to have an Internet Banking ID and Password to be able to redeem your reward points online.You can also visit HSBC www.hsbc.co.in for more details.
            <br>
            Or
            <br>
            You can fill in the redemption form and submit or send it to the nearest HSBC India Branch.
            <br>
            Or
            <br>
            You can use the Phone Banking facility to redeem your points Reward points can be redeemed against Gift Vouchers, Gifts, Charities, Airline Miles and Hotel Rewards by the Primary Cardholder only.Reward points cannot be exchanged for cash or credit or used to obtain cash advances, or used against payments of any charges or any such criteria as decided by HSBC from time to time.
        </p>
        <h6><b>Are there any charges on redemption of Reward points ?</b></h6>
        <p>
            Handling charges for redemption of reward points, at INR 50 / - per redemption shall apply for HSBC Platinum, Advance Platinum, Gold, Smart Value Card & Classic Credit Cards, except on donation requests.
        </p>

        <h6><b>How do I redeem my points toward air miles and hotel rewards ?</b></h6>
        <p>
            You can redeem your credit card reward points for airline miles from British Airways, JetPrivilege & Singapore Airlines and / or TAJ Inner Circle membership program.At present these options are not available for online redemption and are thus not listed on the online Rewards catalogue. You will have to redeem by downloading and completing the redemption form, or by calling our PhoneBanking. Click here for details on points conversion to listed membership programs
        </p>

        <h6><b>How do I find / search for reward / gifts from the online catalogue ?</b></h6>
        <p>
            You can browse for a reward / gift by selecting a point range, category or brand on the rewards catalogue.This will display all the available Reward options under the categories selected.You can also use the Search tool to find a specific Reward on the catalogue.Type in a keyword into the search text box.This will bring up all the Rewards in the catalogue which match the keyword that you have entered.
        </p>

        <h6><b>How long does it take to process my order ?</b></h6>
        <p>
            Upon successful processing of the redemption request, your order will be fulfilled within three weeks’ time from the date of receipt. Gift(s) will be delivered to your credit card statement mailing address. E - vouchers options will be delivered on your registered Email and Mobile no.via SMS and will be fulfilled within 7 working days from date of receipt. How will I receive information on my redemption order ? For E - vouchers delivery, you will receive Email communication from email id – HSBC Credit Cards Rewards(noreply.accentivassist - IN@accentiv.co.in). You will receive SMS communication from sender id – HSBCRW For all physical products / gift vouchers - the order will be delivered to credit card statement billing / mailing address only.A copy of the Proof of Delivery(POD) can be obtained from HSBC, if requested, within 30 days of the delivery date
        </p>
        <h6><b>What if the gift arrives is in a damaged condition ?</b></h6>
        <p>
            If the damage is evident from the condition of the packaging, you should refuse the shipment and obtain a refusal note from the courier company and send it to the nearest HSBC India branch and please HSBC PhoneBanking to report such instances. If the damage is discovered after opening the package, do maintain all packaging materials and cartons and return all the material to the nearby Branch within 3 days of receiving the. If the returned goods are found by HSBC to be defective or do not comply with the description in the Rewards catalogue, HSBC shall in their best endeavor procure replacements for the items and if not, shall credit your credit card account with the points used for those items.
        </p>

        <h6><b>What do I do if I have not received my gift / reward item in the time frame advised ?</b></h6>
        <p>
            Please call HSBC PhoneBanking to investigate it further for you.
        </p>

        <h6><b>How can I view the status of my previous orders ?</b></h6>
        <p>
            To view the status of your orders, login into the online rewards catalogue and select order history under “My Account”.By clicking on any order number, you will be able to view the specific order details. Please note, you need to have an Internet Banking ID and Password to be able to view your login to the online rewards catalogue, else please call HSBC phoneBanking
        </p>

        <h6><b>Will I receive any communication when my reward is dispatched / returned or delivered ?</b></h6>
        <p>
            Yes, you shall receive an SMS / email communication at each stage updating the status on your reward request.Do ensure to update your communication details with HSBC regularly.
        </p>

        <h6><b>What happens if a particular reward is undelivered ? How do I claim the receipt of the same ?</b></h6>
        <p>
            Our service provider shall make three attempts to deliver the goods ordered to your billing / mailing address.If the goods are not delivered after three attempts, they will hold the goods for 15 days from the date of the third attempt.If no intimation is received within these 15 days, HSBC shall cancel the order & credit your account with the Reward points used for those goods within 7 working days.
        </p>

        <h6><b>Are there any restrictions as to when I can use my Gift Card or Voucher / Certificates ?</b></h6>
        <p>
            You must use it before the expiry date.You'll find the expiry date printed/mentioned on the each gift card / certificate / e - voucher.Please read the product terms and conditions carefully.
        </p>

        <h6><b>Can I send items to a different address or someone else?</b></h6>
        <p>
            No, you cannot change the delivery name and address at checkout.
        </p>

        <h6><b>Where do I find the detailed Terms and Conditions for HSBC Credit cards rewards program ?</b></h6>
        <p>
            Click here to view to HSBC Credit Cards Rewards Program terms & conditions page.
        </p>

    </div>
</main>
