@{
    ViewBag.Title = "Terms and Conditions";
}

<link rel="stylesheet" href="~/Content/FAQ.css" />

<main class="pt-5">

    <div class="container ">

        <h4  >Rewards Programme Terms and Conditions</h4>
       

        <p class="pt-4">
            <strong>ELIGIBILITY</strong><br>
            The HSBC Rewards Programme is open to all HSBC primary Credit Cardholders, excluding Corporate Cardholders and HSBC Cashback credit card. Credit Cardholders are eligible for the programme only as long as their Credit Card accounts and all linked accounts are valid and in good standing, i.e. there is no amount overdue. The Credit Cardholder cannot transfer Reward points to another cardholder. The Credit Cardholder can, however, combine Reward points of his/her multiple HSBC Credit Cards at the time of redemption.
        </p>
        <p1>THE REWARDS PROGRAMME</p1>
        <p>
            Eligible Credit Cardholders of HSBC will earn reward points as given below:
            <ul>
                <li>HSBC Classic Cardholders will earn 1 Reward point for every purchase of Rs. 250</li>
                <li>HSBC Gold Cardholders will earn 1 Reward point for every purchase of Rs. 100</li>
                <li>HSBC Smart Value Card Cardholders will earn 1 Reward point for every purchase of Rs. 100</li>
                <li>HSBC Platinum Credit Cardholders will earn 2 Reward points for every purchase of Rs. 150</li>
                <li>HSBC Premier Credit Cardholders will earn 2 Reward points for every purchase of Rs. 100</li>
            </ul>
        </p>
        <p>
            Reward point expiry will follow a Rolling Expiry system with a Reward point validity period of 2 years for Gold, Smart Value Card & Classic credit cards and 3 years for Platinum & Premier Credit Cards. If the Reward point validity on your card is 2 years, the Reward points earned during the 1st year of card membership, if not redeemed, will expire at the end of the 2nd year of card membership, Reward points earned during the 2nd year of card membership, if not redeemed, will expire at the end of the 3rd year and so on. The 1st year of card membership begins from the date of Credit Card issuance. For instance, for a card issued on 10 Mar 2016, the Reward points earned from 10 Mar 2016 to 10 Mar 2017, if unredeemed, will expire on 31 Mar 2018.
        </p>
        <p>
            All provisions of the Terms which by their nature should survive termination shall survive termination, including, without limitation, ownership provisions, warranty disclaimers, indemnity and limitations of liability.
        </p>
        <p>
            Reward points will be offered only for purchases made on the HSBC Credit Card. Reward points will not be offered on fuel purchases where the surcharge is waived. Purchases where the surcharge is not waived will earn Reward points. Fuel surcharge waiver is applicable on fuel purchases between Rs. 400 and Rs. 4000 at any pump in India or according to any such criteria as decided by HSBC from time to time. Cash advances, any fees/charges and disputed transactions will not accrue Reward points. Purchases on add-on Credit Cards will accrue Reward points which will be credited to the Primary Cardholder's card account. Only the Primary Credit Cardholder can redeem Reward points.
        </p>
        <p>
            For Credit Cardholders other than Premier and Platinum Credit Cardholders, all unredeemed Reward points accrued in a two-year period will expire at the end of that period, the first two-year period beginning on the date of credit card issuance or 15 June 2000, whichever is later. For Premier and Platinum Credit Cardholders, the unredeemed Reward points accrued in a year will expire three years after the beginning of that year, the first year beginning on the date of credit card issuance or 15 June 2000, whichever is later. The accumulated Reward points have to be redeemed by the Credit Cardholder within one month of the end of the point accrual period, failing which the points will be dropped off the Credit Card account.
        </p>
        <p1>REDEMPTION</p1>
        <p>
            Reward points can be redeemed against Annual Fees, Gift Vouchers, Gifts, Charities, and Airline Miles by the Primary Cardholder only. Reward points cannot be exchanged for cash or credit or used to obtain cash advances, or used against payments of any charges.
        </p>
        <p>
            Handling charges for redemption of Reward points, at Rs. 50 per redemption shall apply for HSBC Platinum, Advance Platinum, Gold, Smart Value Card & Classic credit cards.
        </p>
        <p>
            <b>Annual Fees:</b>
        </p>
        <p>

            Credit Cardholders can redeem their Reward points to pay their Annual Credit Card renewal fees for their Primary Credit Card or additional HSBC Credit Card.
        </p>
        <p>
            <b>Gifts:</b>
        </p>
        <p>

            Credit cardholders have the option of redeeming their Reward points against the goods listed in the applicable category under the Rewards catalogue.
            Redemption against goods is subject to the availability of stocks. In the event of non-availability or discontinuance of any product, HSBC reserves the right to substitute an item with another brand/product of equivalent monetary value or re-credit the reward point to the customer account for which the customer will be intimated via email on your registered email id.
            HSBC makes no warranties or representations either expressed or implied, with regard to the type, quality, or fitness of the goods provided through the Rewards Programme. Gifts will be accompanied by warranty information from the manufacturer and claims must be directed to the manufacturers directly.
            Any dispute arising out of products and services found defective or deficient, the redeemed gift will have to be handed over to the nearest HSBC India branch by the customer along with the request letter within 03 working days of receipt of product. Post 03 working days from the date of receipt of Gifts for any dispute regarding delivery, service, suitability, merchantability, availability, or quality of the products/services availed under this Reward Programme must be addressed in writing, by the Credit Cardholder directly with brand/product Customer Care.
        </p>
        <p>
            <b>Gift Vouchers:</b>
        </p>
        <p>


            Credit Cardholders have the option of redeeming their Reward points against the Gift Vouchers listed in the Rewards catalogue.
            Gift Vouchers cannot be exchanged for cash (in part or in full).
            HSBC does not accept responsibility for the quality of goods or services provided by the merchant establishments participating in the Rewards Programme.
            All disputes in this regard shall be taken up directly by the Credit Cardholder with the participating establishment.
            Gift vouchers to be utilized within the validity period only. Revalidation of vouchers will not be possible.
            Any disputes arising out of Gift Vouchers that are defective or deficient, the redemption gifts voucher has to be handed over to the nearest HSBC India branch by the customer with the request letter within 07 days of receipt of product.
            The use of Gift Voucher is subject to the Terms and Conditions stated therein. Gift Voucher can only be redeemed once unless otherwise specified on the Gift Voucher.
        </p>

        <p1>For E-Vouchers Redemption</p1>
        <p>An E-Voucher is an electronic Voucher which will be sent to the customer’s registered email address & Mobile Number as updated in HSBC record. No Physical Voucher will be sent.</p>
        <p>Email address & Mobile no is mandatory for E-voucher redemption. The use of the E-Voucher is subject to the terms stated therein, E- Voucher, can only be redeemed once unless otherwise specified on the Gift Voucher.</p>

        <p><b>Airline Miles:</b></p>
        <p><b>JetPrivilege -</b></p>
        <p>
            This facility is open to all generic HSBC globally valid Credit Cardholders, who are eligible for Rewards Programme.
            All terms and conditions of HSBC's Rewards Programme are applicable, unless otherwise mentioned.
            For any conversion request to JPMiles, cardholder's JetPrivilege account will be credited in approximately 7 working days from the date of receiving the request. Whilst HSBC shall endeavor to execute all conversion requests within this period, HSBC shall not be liable in any way for any delay in crediting the JPMiles to member’s JetPrivilege account.
            HSBC shall not be liable in any way for any issues related to cardholder's JetPrivilege membership and its associated privileges.
            This facility has been included in the regular Rewards redemption options on HSBC Credit Card and can be discontinued at the sole discretion of HSBC.
            Jet Privilege Pvt. Ltd. is responsible for the JetPrivilege frequent flyer programme. JP Miles are issued and redeemed in accordance to the JetPrivilege Mile programme terms and conditions which can be found at https://www.jetprivilege.com/terms-and-conditions
        </p>
        <p><b>Singapore Airlines -</b></p>
        <p>
            HSBC Credit Cardholders have the option of redeeming their Reward points against KrisFlyer Miles, being membership points under the Frequent Flier programme run by Singapore Airlines. The HSBC Rewards Programme is open to all HSBC Credit Cardholders, excluding corporate cardholders.
            All terms and conditions of HSBC's Rewards Programme are applicable, unless otherwise mentioned.
            For any conversion request to KrisFlyer Miles, the cardholder's KrisFlyer account will be credited in approximately 7 working days from the date of receiving the request. Whilst HSBC shall endeavor to execute all conversion requests within this period, HSBC shall not be liable in any way for any delay in crediting the KrisFlyer account.
            HSBC shall not be liable in any way for any issues related to the cardholder's KrisFlyer membership and its associated privileges.
            Singapore Airlines is responsible for the Krisflyer Miles  programme. Krisflyer Miles are issued and redeemed in accordance to the Krisflyer Miles terms and conditions which can be found on www.singaporeair.com
            This facility has been included in the regular Rewards redemption options on HSBC credit card and can be discontinued at the sole discretion of HSBC.
        </p>
        <p1>British Airways -</p1>
        <p>
            HSBC Credit Cardholders have the option of converting their Reward points into Avios. “Avios” is the currency of the British Airways Executive Club. The HSBC Rewards Programme is open to all HSBC Credit Cardholders, excluding corporate cardholders.
            For any conversion request to Avios, the cardholder's British Airways Executive Club account will be credited in approximately 7 working days from the date of receiving the request.
            HSBC shall not be liable in any way for any issues related to the cardholder's Executive Club membership and its associated privileges and all disputes or claims will have to be taken up by the CreditCard holder against British Airways.
            This facility has been included in the regular Rewards redemption options on HSBC Credit Card and can be discontinued at the sole discretion of HSBC.
            British Airways is solely responsible for the British Airways Executive Club. Avios are issued and redeemed in accordance to the Executive Club terms and conditions which can be found at www.ba.com/avios
        </p>
        <p1>CHARITIES:</p1>
        <p>
            Credit Cardholders have the option of redeeming their Reward points against donations to the Charitable Organisations / NGOs listed in the Rewards catalogue.
            HSBC will transfer the donation amount to the selected charities / NGOs within 03 (three) weeks of receiving the redemption request.
            Tax exemption certificates on charities will be sent directly by the charities to cardholders donating their reward points for charities. Cardholders must contact the charities directly for issues relating to their tax exemption certificates.
            Any disputes arising out of such donations shall be taken up by the cardholder directly with the charities / NGOs.
        </p>
        <p1>TAJ INNERCIRCLE PROGRAMME :</p1>
        <p>
            This programme is open to all HSBC Credit Cardholders (Cardholder) of , who are eligible for HSBC's Rewards Programme (Programme), and are members of the Taj Innercircle.
            All terms and conditions of Reward Programme are applicable, unless otherwise mentioned.
            Taj InnerCircle Programme is the frequent guest programme of the Taj Hotels Resorts and Palaces (Taj). Besides a host of benefits, as a member of Taj InnercirclePprogramme the Cardholder will earn points when he / she stays or stops by for a meal at one of the restaurants, at the participating Taj Hotels in India and abroad. The Cardholder will earn points on his / her eligible spends on room, food and beverage, laundry, telephone and business centre. These points are called Taj Innercircle Points (Points).These Points can be redeemed for holidays and memorable meals at the Taj and for gifts from a hand-picked selection of merchandise.
            For any conversion request to the Points, Cardholder's Taj Innercircle account will be credited in approximately 7 working days from the date of receiving the request.
            HSBC shall not be liable in any way for any issues related to the Cardholder's Taj Innercircle membership and its associated privileges.
            The offers under the Programme are not transferable, non-negotiable and cannot be encashed. HSBC does not make any warranties or representations about the quality, merchantability, suitability or availability of the products / services included in this Programme or about Taj. HSBC is not liable for any defect or deficiency in the product or service obtained / availed under this Programme and all disputes in this regard should be taken up directly with Taj.
            This programme has been included in the regular Rewards redemption options on HSBC credit card and can be discontinued at the sole discretion of HSBC.
        </p>
        <p1>REDEMPTION PROCESS :</p1>
        <p>
            Redemption of Reward points is not automatic. Credit cardholders will have to fill in the redemption form and submit or send to the nearest HSBC India Branch
            Credit cardholders can also visit the HSBC website or use the PhoneBanking facility to redeem their points.
            Redemption requests will not be serviced if the redemption form is not fully and correctly filled up before submission.
            Credit cardholders cannot redeem their Reward points against outstanding balance on their HSBC Credit Card.
            Redemption of Gifts and Gift Vouchers is subject to availability.
        </p>
        <p1>FULFILLMENT :</p1>
        <p>
            Any redemption request received by HSBC will be fulfilled within three week’s time from the date of receipt. E-vouchers options will be delivered on customer’s registered Email and Mobile no. via SMS and will be fulfilled within a weeks’ time from date of receipt.
            By participating in the Credit Cards Rewards Program you consent to sharing your profile information (restricted to rewards fulfillment/delivery) with our Reward fulfillment partner i.e. Accentiv India Pvt. Ltd.
            All Rewards delivery whether products/vouchers/e-vouchers will be fulfilled by the said partner at the registered communication details updated with the bank.
            You will receive Email communication from email id – HSBC Credit Cards Rewards (noreply.accentivassist-IN@accentiv.co.in) You will receive SMS communication from sender id – HSBCRW
        </p>
        <p1>DELIVERY :</p1>
        <p>
            Delivery will be made only at the billing statement address. A copy of the Proof of Delivery (POD) can be obtained from HSBC, if requested, within 30 days of the delivery date.
            Delivery will be made only against written acknowledgement of receipt of the goods by any occupant at the billing statement address. Such acknowledgement shall be deemed to be acknowledgement of the credit cardholder.
            No delivery will be made to P.O. Box addresses or to addresses outside India.
            HSBC or a third party service provider such as a courier company shall make three attempts to deliver the goods ordered to the billing statement address. If the goods are not delivered after three attempts, the Bank will hold the goods for 15 days from the date of the third attempt. If the credit cardholder does not contact the Bank within these 15 days, the Bank shall credit the credit cardholder's account with the Reward points used for those goods.
            If a gift should arrive damaged, and if the damage is evident from the condition of the packaging, the Credit Cardholder should refuse the shipment and obtain a refusal note from the courier company and send it to the the nearest HSBC India branch. If the damage is discovered after opening the package, the Credit Cardholder should keep all packaging materials and cartons and return all the material to the nearby Branch within 03 days. If the returned goods are found by HSBC  to be defective or not to comply with the description in the Rewards catalogue, HSBC shall in their best endeavor procure replacements for the items and if not, shall credit the Credit Cardholder's account with the points used for those items. The Credit Cardholder shall thereafter have no claim whatsoever against HSBC.
        </p>
        <p1>WITHDRAWAL :</p1>
        <p>
            HSBC reserves the right to wholly or partly modify the Rewards Programme. HSBC also reserves the right to change the Reward point conversion rate, withdraw Reward points awarded or to vary any of the terms and conditions herein in its absolute discretion and without prior notice to Credit Cardholders.
            In case this Rewards Programme comes in conflict with any rule, regulation or order of any statutory authority, then HSBC has absolute authority and right to modify or cancel this programme to give effect to the said requirements.
        </p>
          <p1>GENERAL :</p1>
        <ul>
            
            <li>Commitment of any fraud and abuse relating to earning and redemption of Reward points in the Rewards Programme, will result in forfeiture of accrued points as well as termination of the credit cardholder's credit card account.</li>
            <li>Subject to discretion, information supplied by the Credit Cardholder on the redemption of certain products/services may be used by HSBC or its service establishments for administrative or marketing purposes.</li>
            <li>The Rewards Programme is entirely voluntary and it is understood that all charges are voluntarily incurred by the credit cardholder in the normal course of credit card usage.</li>
            <li>Any tax or other liabilities or charges payable to the Government or any other authority or body or any other participating establishment which may arise or accrue to the HSBC Credit Cardholders by redemption as aforesaid or otherwise as result of this Rewards Programme shall be borne by the HSBC Credit Cardholder.</li>
            <li>Terms and conditions stated herein do not amount to any commitment or representation by HSBC to conduct such programmes.</li>
            <li>Selection of the products / services offered under the Rewards Programme will be at the sole discretion of HSBC and are liable to change without notice.</li>
            <li>HSBC assumes no responsibility for the Reward points converted into a participating partner's loyalty programme or for actions of any participating merchant or any other partner in connection with the Rewards programme or otherwise.</li>
            <li>In the event of the HSBC Credit Card being voluntarily closed by a Credit Cardholder, the Reward points that are in the Credit Card account can be redeemed within one month of card closure. In case the Credit Cardholder fails to redeem these points within one month of closure, the Reward points will automatically lapse.</li>
            <li>In case of a disputed transaction being resolved in the favour of the credit cardholder and/or where a transaction is reversed, the equivalent Reward points will also be reversed.</li>
            <li>Reward points which have been credited or debited to or from the Credit Cardholder's account shall be reflected in the following month's statement issued by HSBC to the credit cardholder.</li>
            <li>On redemption, the Reward points will automatically be subtracted from the accumulated points in the credit cardholder's credit card account.</li>
            <li>Redemption orders once given to HSBC cannot be cancelled, withdrawn or changed. Redeemed rewards are not exchangeable for other rewards or refundable, replaceable or transferable for cash or credit under any circumstances. Reward points once exchanged for any other partner's loyalty programme cannot be transferred or cancelled.</li>
            <li>HSBC will not be held responsible if any supplier of products / services offered to credit cardholders withdraws, cancels, alters or amends those products/ services.</li>
            <li>HSBC makes no warranties  for the quality of goods or services provided by the merchant establishments participating in the Rewards Programme.</li>
            <li>HSBC will not be responsible for lost or stolen coupons / vouchers / certificates redeemed through the Rewards Programme. HSBC and its agents are not responsible for any orders not received, due to correspondence lost or delayed in the mail.</li>
            <li>HSBC shall not be liable for any loss or damage whatsoever that may be suffered, or for any personal injury that may be suffered as a result of availing of the benefits under the programme.</li>
            <li>HSBC reserves its absolute right to withdraw or alter any of the terms and conditions of the Reward Programme at any time without prior intimation to the Cardholders.</li>
            <li>HSBC's decision on computation of Reward points on the credit card account will be final, conclusive and binding on the credit cardholder and will not be liable to be disputed or questioned.</li>
            <li>The existence of a dispute, if any, with a third party shall not constitute a claim against HSBC.</li>
            <li>Any disputes arising out of this programme shall be subject to the exclusive jurisdiction of the competent courts in Mumbai only.</li>
            <li>Please note that basis Goods Service Tax (GST) regulations and notified GST rates, Central GST and State/Union Territory GST or Inter-State GST, as applicable, would apply on our fees and charges with effect from 01 July 2017.</li>
            <li>All queries / disputes arising out of this programme shall be referred to HSBC PhoneBanking.</li>
        </ul>

    </div>

</main>